    :root{
        --background-color: #24252A;
        --button-color: #303030;
        --button-disable-color:#444444;
        --textarea-color-hover: #D3D3D3;
        --ta-background-color: #C0C0C0;
        --settings-background-color: #444444;
        --panel-color:#303035;
        --splitter-color: #4e4e4e;
        --TT-color: #A00000; /* #0F4C85;*/
        --text-color:white;
        --text-color-dark:black;
    }
    
    body {
      color: var(--ta-background-color);
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
      background-color: var(--background-color);
    }
    header{
        height: 40px;
        padding: 10px;
        height: 40px;
        width: 98%;
        display: flex;
        justify-content: left; /*centers content in flex box*/
        align-items: center; /*aligns content in flex box vertically*/
        flex-wrap: nowrap;
        background-color: var(--background-color);
    }
    .nav-bb{
        width: 100%;
    }
    .nav-btn{
        border: 4px solid var(--TT-color);
        border-radius: 10px;
        background-color: #303030;
    }
    .nav-btn-active{
      border: 4px solid var(--TT-color);
      border-radius: 10px;
      background-color: red;
  }
    .nav-btn-active:hover{
      /*Override Hover on button already selected*/
      background-color: red;
    }

    .horiz-bb{
        padding: 2px;
        height: 70px;
        width: 98%;
        margin: 2px;
        display: flex;
        justify-content: center; /*centers content in flex box*/
        align-items: center; /*aligns content in flex box vertically*/
        flex-wrap: nowrap;
    }
    .settings-box{
      padding: 2px;
      height: 60px;
      width: 98%;
      margin: 2px;
      display: flex;
      justify-content: flex-end; /*centers content in flex box*/
      align-items: center; /*aligns content in flex box vertically*/
      flex-wrap: nowrap;
      background-color: var(--settings-background-color);
  }
    button {
        padding: 5px;
        min-width:70px;
        text-decoration: none;
        text-align: center;
        color: #C0C0C0;
        font-family: Catamaran;
        font-size: 30px;
        background-color: var(--button-color);
        border: 4px solid var(--background-color);
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        margin: 5px;
    }
    button:disabled{
        color: var(--button-disable-color);
    	background-color: var(--background-color);
    }
    button:hover{
    	background-color: var(--background-color);
    }

    /*Adding button flash when alarm is generated*/
    .btn_flash{
      animation: glowing 1500ms infinite;
    }
    @keyframes glowing {
      0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
      50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
      100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    }

    .label-info { /* can't have label height inside div with a set height otherwise text won't center*/
        padding: 5px;
        margin: 5px;
        min-width:40px;
        text-decoration: none; 
        color: var(--text-color);
        font-family: Catamaran;
        font-size: 24px;
        transition: all 0.3s ease 0s;
        text-align: center;
        pointer-events:none;
    }

    .display{
      background-color: var(--button-color);
      color: var(--text-color);
      width:120px;
      font-weight: 500;
      min-height: 50px;
      margin: 5px;
      padding: 5px;
      border: 2px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 20px;
      pointer-events:none;
    }
    .inpt_display {
        background-color: var(--ta-background-color);
        width:120px;
        min-height: 50px;
        margin: 5px;
        padding: 5px;
        border: 2px solid var(--background-color);
        border-radius: 4px;
        box-sizing: border-box;
        text-align: center;
        font-family: Catamaran;
        font-size: 20px;
    }

    .index-upper{
        display: flex;
        width: 100%;
    }
    .upper-panel{
        width: 49%;
        height: 480px;
        margin: 0px 10px 10px 10px;
        border: 4px solid var(--TT-color);
        border-radius: 20px;
        background-color:var(--panel-color);
    }
    .index-lower{
        width: 98%;
        margin-left: 10px;
        height: 70px;
        border: 4px solid var(--TT-color);
        border-radius: 20px;
        background-color:var(--panel-color);
        position: absolute;
        bottom: 80px;
    }

    select{
        background-color: var(--ta-background-color);
        min-width: 60px;
        min-height: 50px;
        margin: 5px;
        padding: 5px;
        border: 3px solid var(--background-color);
        border-radius: 4px;
    }
    .scrollable{
      overflow-x: hidden;
      overflow-y: scroll;
      height: 345px;
      margin: 2px;
      width: auto;
      background-color: var(--settings-background-color);

    }
    
    .single-command {
        background-color: var(--ta-background-color);
        text-align: left;
        border: 4px solid var(--background-color);
        border-radius: 10px;
        text-decoration: none;
        box-sizing: border-box;
        font-family: Catamaran;
        font-size: 30px;
        padding-left: 10px;
    }
    .single-command:hover{
      background-color:  #D3D3D3;
    }
    .single-command:hover:focus{
      background-color:  var(--textarea-color-hover);
    }
    textarea {
        margin: 1%;
        width:98%;
        height:97%;
        background-color: var(--ta-background-color);
        border: 4px solid var(--background-color);
        resize: none;
        overflow: auto;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }
    .textarea-container:hover{
      background-color:  var(--textarea-color-hover);
    }
    .textarea-container{
        padding: 10px;
        height: 80%;
        width: calc(100%-10px);
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-wrap: nowrap;
    }

    .popup-header{
      text-decoration: none;
      text-align: center;
      color: var(--text-color);
      font-family: Catamaran;
      font-size: 30px;
      background-color: var(--button-color);
      border: 4px solid var(--TT-color);
      border-radius: 10px;
      margin: 5px;
    }
    .popup-msg{
      text-decoration: none;
      text-align: center;
      color: var(--text-color);
      font-family: Catamaran;
      font-size: 30px;
      margin: 20px;
    }
    .index-footer{
      background-color: var(--panel-color);
      border-radius: 4px;
      width: 100%;
      height: 70px;
      position: absolute;
      bottom: 0;
    }
    .gcode-div{
      background-color: rgba(0, 0, 0, 1);
      font-family: "Lucida Console", Monaco, monospace;
      font-size: 12px;
      margin: 1%;
/*       width:98%;
      height:80%; */
      border: 4px solid var(--background-color);
      resize: none;
      overflow: auto;
    }
    .gcode-done{
      color: rgba(64, 64, 64, 1.0);
      background-color: rgba(0, 0, 0, 1);
    }
    .gcode-active{
      color: rgba(0, 0, 0, 1.0);
      background-color: rgba(255, 0, 0, 1.0);
    }
    .gcode-buffer{
      color: rgba(255, 0, 0, 1.0);
      background-color: rgba(0, 0, 0, 1);
    }
    .gcode-waiting{
      color: rgba(255, 255, 255, 1.0);
      background-color: rgba(0, 0, 0, 1);
    }


    